# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Dependencies
node_modules
.bundle
vendor

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Temporary files
*.tmp
*.temp
